* {
    margin: 0;
    padding: 0;

    font-family: "Roboto", Arial, Helvetica, sans-serif;
    
}

:root {
    --main-background: #0a1010;
    --primary: #CCB493;
    --secondary: #782D33;

    --font-primary: "Bebas Neue", sans-serif;
}

body {
    background-color: var(--main-background);
    width: 100vw;
    overflow-x: hidden;
}

h1, h2, h3 {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
}

::-webkit-scrollbar {
    width: 10px;
  }

::-webkit-scrollbar-track {
    background: var(--main-background);
}

::-webkit-scrollbar-thumb {
    background: var(--secondary);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.fade-in {
    pointer-events: none;
    position: fixed;
    background-color: black;
    top: -20vh;
    width: 100vw;
    height: 120vh;
    z-index: 10000;
    visibility: hidden;
    animation-name: fade-in;
    animation-duration: 2s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;

    opacity: 0;
}

@keyframes fade-in {
    from {opacity: 100%; visibility: visible;}
    to {opacity: 0; visibility: hidden;}
}

.texture1 {
    pointer-events: none;
    position: fixed;
    top: -20vh;
    width: 100vw;
    height: 120vh;
    background-image: url(../assets/texture1.jpg);
    z-index: 10000;
    opacity: .5;
    visibility: hidden;
    mix-blend-mode: multiply;
    animation-name: fade-in;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
}

.nav {
    position: fixed;
    z-index: 10000;
    padding: 30px;
    font-size: 17px;
}

.topbar {
    position: absolute;
    width: 100vw;
    height: 40px;
}

.icon {
    position: absolute;
    color: var(--secondary);
    height: inherit;
}

.lang-btn {
    color: #CCB493;
    position: absolute;
    right: 8vh;
    text-align: right;

    top: 50%;
    transform: translateY(-50%);
}

.lang-btn:hover {
    text-decoration: line-through;
}

.left-sidebar {
    position: absolute;
    height: 100vh;
    left: 0;
    top: 0;
    padding: 40px;
}

.left-sidebar > p {
    position: absolute;
    writing-mode: vertical-rl;
    text-orientation: upright;
    color: var(--primary);
    bottom: 110px;
}