@keyframes grow-in-out {
  0% {
    min-height: 0vh;
  }
  50% {
    min-height: 70vh;
  }
  100% {
    min-height: 0vh;
  }
}
@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes float {
  0%, 100% {
    margin-top: -5px;
  }
  50% {
    margin-top: 5px;
  }
}
*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
div,
span,
object,
iframe,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
code,
em,
img,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
ol,
ul,
li,
fieldset,
form,
label,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
main,
canvas,
embed,
footer,
header,
nav,
section,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
     -moz-text-size-adjust: none;
          text-size-adjust: none;
}

footer,
header,
nav,
section,
main {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input {
  -webkit-appearance: none;
  border-radius: 0;
}

html {
  background-color: #0c0c0c;
  background-image: url(https://live.staticflickr.com/65535/54394227917_32e83109d9_c.jpg);
  background-attachment: fixed;
  background-position: center top;
  background-size: 100% 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #0c0c0c;
}

::-webkit-scrollbar-thumb {
  background: #782d33;
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  overflow-x: hidden;
}
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-image: url(https://live.staticflickr.com/65535/54394227917_f3db29b686_o.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.loader {
  color: #ccb493;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  background-color: #0c0c0c;
  width: 100%;
  height: 100vh;
}

.nav {
  height: 95%;
  width: 97%;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10000;
  color: #ccb493;
  pointer-events: none;
}
.nav .topbar {
  pointer-events: all;
  position: absolute;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
}
.nav .topbar nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: all;
  display: flex;
  flex-direction: row;
  gap: 15px;
  justify-content: center;
  align-items: center;
}
.nav .topbar nav a {
  color: #ccb493;
  text-decoration: none;
}
.nav .topbar nav a:hover {
  cursor: pointer;
  text-decoration: line-through;
}
@media screen and (max-width: 800px) {
  .nav .topbar nav a {
    display: none;
    border: none;
  }
}
.nav .topbar nav a + a {
  border-left: 1px solid #ccb493;
  padding-left: 15px;
}
@media screen and (max-width: 800px) {
  .nav .topbar nav {
    background: url("../assets/burger-menu.svg");
    background-size: contain;
    background-position: left cent;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    left: 60px;
    transform: none;
    flex-direction: column;
    justify-content: left;
    align-items: self-start;
    position: relative;
  }
  .nav .topbar nav:hover {
    width: -moz-min-content;
    width: min-content;
    gap: 0;
  }
  .nav .topbar nav:hover a {
    display: block;
    padding: 10px;
    background-color: #0c0c0c;
    width: 110px;
    border: 1px solid #ccb493;
    border-radius: 5px;
  }
}
.nav .topbar a {
  pointer-events: all;
}
.nav .topbar a .icon {
  color: var(--secondary);
  height: 30px;
}
.nav .topbar .lang-btn {
  position: absolute;
  right: 0;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
}
.nav .topbar .lang-btn:hover {
  pointer-events: all;
  cursor: pointer;
  text-decoration: line-through;
}
.nav .left-sidebar {
  position: absolute;
  height: 100%;
  width: 30px;
  left: 0;
  top: 0;
  pointer-events: all;
  color: #ccb493;
  z-index: -1;
  display: flex;
  justify-content: center;
}
.nav .left-sidebar h2 {
  writing-mode: vertical-rl;
  text-orientation: upright;
  position: absolute;
  bottom: 0px;
}
@media screen and (max-width: 800px) {
  .nav .left-sidebar {
    display: none;
  }
}

.banner {
  max-width: 100%;
  position: fixed;
  width: 35vw;
  z-index: 1;
  pointer-events: none;
  opacity: 1;
  border-radius: 30px;
  left: 50%;
  top: 50dvh;
  transform: translate(-50%, -50%);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.banner.banner-top {
  z-index: 999;
  opacity: 1;
}
.banner.banner-bg {
  width: 41vw;
  filter: blur(10px);
}
@media screen and (max-width: 800px) {
  .banner {
    width: 95vw;
  }
  .banner.banner-bg {
    width: 100vw;
    filter: blur(5px);
  }
}

.head {
  width: 75%;
  height: 100vh;
  z-index: 1000;
  margin: 0 auto;
}
.head .logo {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 7vh;
  height: 70%;
  z-index: 1;
  mix-blend-mode: difference;
}
.head .logo img {
  pointer-events: none;
  position: absolute;
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
@media screen and (max-width: 800px) {
  .head .logo {
    margin-top: 17vh;
  }
}
.head .titles {
  z-index: 2;
  position: absolute;
  width: inherit;
  bottom: 120px;
  display: flex;
  justify-content: space-between;
  color: #ccb493;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  z-index: 2;
}
.head .titles .socials img {
  width: 0.7em;
  height: 0.7em;
}
@media screen and (max-width: 800px) {
  .head .titles {
    bottom: 30px;
    flex-direction: column-reverse;
    align-items: center;
    z-index: 1000;
  }
  .head .titles h1 {
    font-size: 12vw;
    z-index: 1000;
  }
  .head .titles .socials {
    opacity: 0.8;
  }
  .head .titles .socials mg {
    width: 0.5em;
    height: 0.5em;
  }
}
@media screen and (max-width: 800px) {
  .head {
    width: 85%;
  }
}

.gallery {
  z-index: 1000;
  margin-top: 50px;
  width: 100%;
  overflow-x: hidden;
  position: relative;
  background-color: #0c0c0c;
}
.gallery::before {
  content: " ";
  display: block;
  position: absolute;
  background-image: url(../assets/142.png);
  background-size: contain;
  background-position: center;
  background-repeat: repeat-x;
  transform: translateY(-50%);
  width: 100%;
  height: 50px;
}
.gallery .overlay {
  position: fixed;
  background-color: #0c0c0c;
  width: 95%;
  height: 95%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  pointer-events: none;
  opacity: 0;
  background-position: center;
  background-size: cover;
  transition: 0.5s;
  filter: blur(15px);
}
.gallery .overlay.visible {
  opacity: 0.22;
}
.gallery h2 {
  display: none;
  justify-content: center;
  align-items: center;
  padding: 30px;
  text-align: center;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  color: #ccb493;
  font-size: 100px;
}
.gallery .gallery-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow: hidden;
  gap: 100px;
  justify-content: center;
  padding: 90px;
  padding-top: 150px;
}
@media screen and (max-width: 800px) {
  .gallery .gallery-items {
    padding: 30px;
    padding-top: 150px;
  }
}
.gallery .gallery-items div {
  color: #782d33;
  margin-bottom: 50px;
}
.gallery .gallery-items div img {
  width: 100%;
  max-width: 600px;
  max-height: 90vh;
  z-index: 10;
  -o-object-fit: contain;
     object-fit: contain;
  transition: 1s;
}
.gallery .gallery-items div img:hover {
  transform: scale(1.03);
}
.gallery .gallery-items div .artwork-title {
  color: #ccb493;
  font-family: "Bebas Neue", Helvetica, sans-serif;
  font-size: 40px;
  margin-top: 10px;
}
@media screen and (max-width: 800px) {
  .gallery .gallery-items div {
    width: 100%;
  }
}

.footer {
  display: none;
  background-color: #0c0c0c;
  padding: 90px;
  color: #ccb493;
  z-index: 1000;
}/*# sourceMappingURL=main.css.map */