/* TODO
- na mobilnych, tak jak na plakacie z wystawy wyglad
- flashing textures przy przewijaniu
- rozpadajace sie literki?
*/



body {
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    background-position: center top;

    min-height: 100vh;
}

/* HEAD */


.head {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-top: 90px;
    width: 70vw;
}

.logo {
    position: absolute;
    width: 100%;    
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    mix-blend-mode: difference;
}

.logo > * {
    position: absolute;
    width: 100%;
    overflow: visible;
}

.logo-hidden {
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}


.mask {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    width: 30vw;
    overflow: hidden;
}

.titles {
    position: relative;
    bottom: 10px;
    color: var(--primary);
    z-index: -1;
}

.h1-title {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

.h1-title::before {
    content: ' ';
    width: 12vw;
    height: 0;
    border: .1rem solid var(--primary);
    margin: 3px;
    display:inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;

}

.h2-title {
    position: relative;

}

.fixed-scroll {
    position: relative;
    overflow: visible;
    top:0;
    mix-blend-mode: difference;    
}





/* SOCIAL MEDIA BOX */
.social-media {
    position: relative;
    width: 70vw;
    margin: 0 auto;
    padding-top: 50vh;
    margin-bottom: 200px;
    
}

.sm-link {
    position: relative;
    color: var(--secondary);
    text-decoration: none;
}

.sm-link > h3 {
    font-size: 80px;
    text-decoration: underline;
}

.sm-link > p {
    color: var(--primary);
    text-align: right;
    
}

#sm-ig {
    top: 0;
}

#sm-cara {
    top: 0;
}

#sm-rb {
    top: 0;
}

.fill {
    padding-top: 400vh;
    background-color: black;
}