/* TODO
- na mobilnych, tak jak na plakacie z wystawy wyglad
- flashing textures przy przewijaniu
- rozpadajace sie literki? V
- sociale wyjezdzaja ze srodka i sie chowaja
- fix parralax
- fix pointer events (.fill blocks)
*/



body {
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

    min-height: 100vh;
}

/* HEAD */


.head {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 70vw;
    z-index: 100;
    margin-top: 10vh;
}

.head-container {
    position: relative;
    height: 600vh;
    overflow: hidden;
}

.fixed-scroll {
    position: relative;
    overflow: visible;
    top: 0;
    mix-blend-mode: difference;    

}

.logo {
    position: absolute;
    width: 100%;
    top:50px;    
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    mix-blend-mode: difference;
    
}

.logo > * {
    position: absolute;
    width: 100%;
    overflow: visible;

}

.logo-hidden {
    top:50px; 
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}


.mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 50vw;
    overflow: hidden;
}

.titles {
    position: relative;
    color: var(--primary);
    z-index: -1;
    top: 20px;
}

.h1-title {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    
}

.h1-title::before {
    content: ' ';
    width: 12vw;
    height: 0;
    border: .1rem solid var(--primary);
    margin: 3px;
    display:inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;

}

.h2-title {
    position: relative;

}



/* SOCIAL MEDIA BOX */
.social-media {
    position: absolute;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: -1;
    gap: 70px;
    pointer-events: none;
}

#social-media-anchor {
    position: absolute;
    visibility: hidden;
    background-color: red;
    width: 200px;
    height: 10px;
    top: 160vh;
    z-index: 1000;
}

.sm-link {
    transition: .1s;
    position: relative;
    color: var(--secondary);
    text-decoration: none;
    opacity: 0%;
    pointer-events: visibleFill;
}

.sm-item {
    display: inline-block;
    z-index: -1;
    transition: .3s;
}

.sm-item > h3 {
    font-size: 100px;
    font-weight: 600;
    text-decoration: underline solid 3px;
    margin-bottom: -15px;
    
}

.sm-item > p {
    color: var(--primary);
    text-align: left;
    
}

#sm-cara {
    top: 0;
    left: 35%;
}

#sm-cara >.sm-item:hover {  
    transform: rotate(1.5deg);
    transform: scale(1.06);
}

#sm-ig {
    top: 0;
    text-align: right;
    right: 35%;
}

#sm-ig >.sm-item:hover {
    transition: .3s;
    transform: rotate(-1.5deg);
    transform: scale(1.06);
}

#sm-ig > .sm-item > p {
    text-align: right;
}

#sm-rb {
    top: 0;
    left: 35%;
}

#sm-rb >.sm-item:hover {
    transition: .3s;
    transform: rotate(1.5deg);
    transform: scale(1.06);
}

.slide-right {
    right: 0;
    opacity: 100%;
    animation: slide-right 1s ease 0 1;
}

@keyframes slide-right {
    from {right: 45%; opacity: 0%;}
    to {right: 0%; opacity: 100%;}
}

.slide-left {
    left: 0;
    opacity: 100%;
    animation: slide-left 1s ease 0 1;
}

@keyframes slide-left {
    from {left: 45%; opacity: 0%;}
    to {left: 0%; opacity: 100%;}
}

.fill {
    position: relative;
    padding-top: 1000vh;
    background-color: black;
    /* visibility: hidden; */
    /* mix-blend-mode: saturation; */
}


@media only screen and (max-width: 768px) {
    /* .head {
        position: absolute;
    }
    .mask {
        
        top: 50%;
        right: 50%;
        transform: translate(-50%, 0%);
        height: 70vw;
    }
    .titles {
        top: 55vw;
    }
    .social-media {
        position: relative;
        left: 50%;
        transform: translate(-50%, -10%);
    } */
}