/* TODO
- na mobilnych, tak jak na plakacie z wystawy wyglad
- flashing textures przy przewijaniu
- rozpadajace sie literki? V
- sociale wyjezdzaja ze srodka i sie chowaja
- fix parralax
- fix pointer events (.gallery-container blocks)
*/

html {
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
}

body {
    background-image: url(../assets/background.png);
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;

    min-height: 100vh;
}

/* body::before {
    content: " ";
    background-image: url(../assets/texture2.jpg);
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 1000;
    pointer-events: none;
    mix-blend-mode: multiply;
    opacity: 40%;
} */

/* HEAD */


.head {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 70vw;
    z-index: 100;
}

.head-container {
    position: relative;
    height: 300vh;
    overflow: hidden;
}

.fixed-scroll {
    position: relative;
    overflow: visible;
    top: 0;
    mix-blend-mode: difference;

}

.logo {
    position: absolute;
    width: 100%;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    overflow: visible;
    mix-blend-mode: difference;

}

.logo>* {
    position: absolute;
    width: 100%;
    overflow: visible;

}

.logo-hidden {
    top: 50px;
    position: relative;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    visibility: hidden;
}


.mask {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* height: 90vh; */
    width: 35vw;
    overflow: visible;
    transition: .3s;
}

.titles {
    position: relative;
    color: var(--primary);
    z-index: -1;
    top: 20px;
}

.h1-title {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

}

.h1-title::before {
    content: ' ';
    width: 12vw;
    height: 0;
    border: .1rem solid var(--primary);
    margin: 3px;
    display: inline-block;
    margin-bottom: 1rem;
    margin-right: 1rem;

}

.h2-title {
    position: relative;

}



/* SOCIAL MEDIA BOX */
.social-media {
    position: fixed;
    width: 80vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    z-index: -1;
    gap: 3vw;
    pointer-events: none;
}

#social-media-anchor {
    position: absolute;
    visibility: hidden;
    background-color: red;
    width: 200px;
    height: 10px;
    top: 160vh;
    z-index: 10;
}

.sm-link {
    position: relative;
    color: var(--secondary);
    text-decoration: none;

    transition: 1s;
    animation: to-left ease-out;

    animation-range: entry cover;
    animation-fill-mode: both;
    animation-duration: .3s;
}

.sm-item {
    display: inline-block;
    z-index: 1;
    transition: .3s;
}

.sm-item>h3 {
    font-size: 130px;
    font-weight: 600;
    text-decoration: underline solid 3px;
    margin-bottom: -15px;

}

.sm-item>p {
    color: var(--primary);
    text-align: left;

}

#sm-cara {
    top: 0;
    animation-timeline: view(block -40% 100%);
}

#sm-cara>.sm-item:hover {
    transform: rotate(1.5deg);
    transform: scale(1.06);
    cursor: pointer;
}

#sm-ig {
    top: 0;
    text-align: right;
    animation: to-right ease-out;
    animation-timeline: view(block -40% 100%);
    animation-range: entry cover;
    animation-fill-mode: both;
}

#sm-ig>.sm-item:hover {
    transition: .3s;
    transform: rotate(-1.5deg);
    transform: scale(1.06);
    cursor: pointer;
}

#sm-ig>.sm-item>p {
    text-align: right;
}

#sm-rb {
    top: 0;
    animation-timeline: view(block -40% 100%);
}

#sm-rb>.sm-item:hover {
    transition: .3s;
    transform: rotate(1.5deg);
    transform: scale(1.06);
    cursor: pointer;
}

@keyframes to-right {
    from {
        pointer-events: none;
        opacity: 0;
        right: 35%;
    }

    to {
        pointer-events: visibleFill;
        opacity: 1;
        right: 0;
    }
}

@keyframes to-left {
    from {
        pointer-events: none;
        opacity: 0;
        left: 35%;
    }

    to {
        pointer-events: visibleFill;
        opacity: 1;
        left: 0;
    }
}

.moth {
    position: absolute;
    opacity: 8%;
    z-index: -2;
    width: 80vw;

    right: 0;
    top: 90vh;
    mix-blend-mode: exclusion;
}


.gallery-container {
    position: relative;
    overflow-x: hidden;
    z-index: 101;
    transition: .3s;
    padding-bottom: 100px;
    width: 100vw;
    margin: 0 auto;
}


.gallery-title {
    color: transparent;
    display: block;
    text-align: center;
    font-size: 520px;
    left: 25%;
    mix-blend-mode: difference;
    -webkit-text-stroke-width: 10px;
    -webkit-text-stroke-color: var(--primary);
    margin-bottom: 100px;

}


.gallery {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: center;
    /* justify-content: space-between; */
    z-index: 2;
    transition: .3s;
    width: 100vw;
    margin: 0 auto;
}

.gallery-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background-image: url("../artworks/04.png");
    z-index: 0;
    filter: blur(25px);
    opacity: 0;
    transition: 1s;
    background-size: cover;
    background-position: center;
    /* visibility: hidden; */
    animation: overlay-pulse 12s ease-in-out infinite;
}

@keyframes overlay-pulse {
    0% {
        /* transform: skew(30deg, 20deg); */
        background-size: 100vw;
    }

    50% {
        /* transform: skew(-30deg, -20deg); */
        background-size: 110vw;
    }

    100% {
        /* transform: skew(30deg, 20deg); */
        background-size: 100vw;
    }
}

.gallery-container:active {
    cursor: grabbing;
}

.artwork {
    max-width: 95vw;
    opacity: 1;
    transition: .3s;

    filter: brightness(.5) saturate(.7);
    z-index: 0;


}

.artwork>img {
    position: relative;
    width: 580px;
    border-radius: 7px;
    transform-origin: center;
    transform: scale(.7);
}

.artwork>.artwork-title {
    color: var(--primary);
    visibility: hidden;
}

.artwork .artwork-technique {
    color: var(--primary);
    visibility: hidden;
}

.artwork .artwork-size {
    color: var(--primary);
    visibility: hidden;
}

.artwork[class*="active"] {
    opacity: 1;
    filter: brightness(1) saturate(1);
    z-index: 1;
}

.artwork[class*="active"] .artwork-title {
    visibility: visible;
}

.artwork[class*="active"] p {
    visibility: visible;
}

.artwork[class*="active"] img {
    transform: scale(1);
    box-shadow: 0px 0px 31px 1px rgba(0, 0, 0, 1);
}

.glider-track {
    margin: 0 auto;
}

@media only screen and (max-width: 768px) {
    .mask {
        width: 70vw;
    }

    /* .fixed-scroll {
        height: 80vw;
    }

    .logo .logo-hidden {
        top: 0;
    }

    .titles {
        bottom: 0;
    } */

    /* .social-media {
        position: relative;
        left: 50%;
        transform: translate(-50%, -10%);
    } */
}